@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container-fluid .profile {
  margin-left: 2rem;
  width: 50%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.container-fluid .profile .profile-pic img {
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
}
.infolinks button {
  display : flex;
  justify-content : center;
  align-items : center;
  flex-wrap: nowrap;
}
@media only screen and (max-width: 600px) {
  .container-fluid .profile {
    display : flex;
    justify-content : center;
    align-items : center;
    width:100%;
    flex-direction: column;
  }
}